@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200;300&display=swap");
/*html,
body {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #77aa77;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2377aa77'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  font-family: "helvetica", sans-serif !important;
  overflow-x: hidden !important;
}

.card {
  border-radius: 10px;
  margin-top: 50px !important;
  height: 350px !important;
  width: 250px;
  margin: auto;
}

.card.has-text-centered .card-header,
.card.has-text-centered .card-content,
.card.has-text-centered .card-footer {
  justify-content: center;
  align-items: center;
}

.card.has-text-centered h1 {
  font-size: 1.75rem;
  font-weight: bold;
}

.navbar {
  margin-bottom: 20px !important;
}

.hide {
  display: none;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12.5rem;
  margin: 0;
  padding: 1.5rem 3.125rem;
  background-color: #3498db;
  border: none;
  border-radius: 0.3125rem;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: 400;
  overflow: hidden;
  font-family: "Open Sans", sans-serif !important;
}

.button:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #54d98c;
}

.button span {
  position: absolute;
  line-height: 0;
}

.button span i {
  transform-origin: center center;
}

.button span:nth-of-type(1) {
  top: 50%;
  transform: translateY(-50%);
}

.button span:nth-of-type(2) {
  top: 100%;
  transform: translateY(0%);
  font-size: 24px;
}

.button span:nth-of-type(3) {
  display: none;
}

.active {
  background-color: #2ecc71;
}

.active:before {
  width: 100%;
  transition: width 30s linear !important;
}

.active span:nth-of-type(1) {
  top: -100%;
  transform: translateY(-50%);
}

.active span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}

.active span:nth-of-type(2) i {
  animation: loading 10000ms linear infinite !important;
}

.active span:nth-of-type(3) {
  display: none;
}

.finished {
  background-color: #54d98c;
}

.finished .submit {
  display: none;
}

.finished .loading {
  display: none;
}

.finished .check {
  display: block !important;
  font-size: 24px;
  animation: scale 0.5s linear;
}

.finished .check i {
  transform-origin: center center;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(10);
  }
  50% {
    transform: scale(0.2);
  }
  70% {
    transform: scale(1.2);
  }
  90% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

.hero {
  margin-top: 70px !important;
} */


  
body{
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4{
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    margin-top:1.5rem;
}
h1{
font-size:50px;
}
h2{
    font-size:32px;
}
li{
    list-style:none;
    font-weight:bold;
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    color:#882DFF;
}

p{
color:#606368;
font-size: 18px;
font-weight: 500;
line-height: 28px;
}

.top{
    margin-top:1rem;
    display:flex;
    justify-content: space-between;
}

.btn-primary{
    margin-top:2rem;
    background-color: #882DFF;
}
.lgn-btn:hover{
    background-color: #882DFF;
}

.mid{
    margin-top: 2rem;
    text-align: center;
}

.mid-para{
    max-width:35rem;
    margin: 1.5rem auto;
    text-align: center;

}
.bottom{
    text-align: center;
    margin-top: 3rem;
}
.bottom-para{
    margin:1.5rem auto;
    max-width:60rem;
}
.lower{
    margin-top:2rem;
    margin-bottom:10rem;
}
.lower p{
    margin-top:1.5rem;
    max-width:50%;
    display:inline-block;

}
.left{
    text-align:left;
}
.right{
    text-align: justify;
    justify-content: right;
  text-align: right;
}
.btn-block{
    min-width:32rem;
    background-color: #ffffff;
    color:#000000;
}
.btn-block:hover{
    background-color: #882DFF;
    color:#ffffff;
}
.btn-login{
    margin-top:4rem;
}
.hero-img{
    height:645px;
    width:490px;
}
.login-body{
    /* padding-left:2rem; */
    background-color: #E5E5E5;
}

.signup-hero-img{
    height:760px;
}

.input{
  border-radius: 12px;
  font-size: 18px;
}

label{
  font-size: 20px;
}

/* login page container*/

/* .login-body{
    background-color:#D8D8D8;
}
.container-login{
display:flex;
align-items: center;
text-align: center;
margin:4rem auto;
}
.login{
    background-color: #E5E5E5;
    min-height: 35rem;
}
.login h2{
margin:3rem 2rem 2rem 2rem;
text-align: left;
}
.login p{
    margin-left:2rem;
    max-width: 25rem;
    text-align: left;
}
.login-btn{
    display:block;
    text-align: center;
}
.login-btns{
margin:4rem 2rem;
text-align: center;
} */

.vh-100{
    background-color: #D8D8D8;
    /* filter: blur(4px) */
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
    text-align:center;
    /* position: fixed; */
    /* width: calc(100% - 225px); */
    margin-left: 225px;

}

.sidebar{
    /* min-width:20rem; */
    background-color: #F9F9F9;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
}
.container-sidebar{
    margin:1rem;
}

.hr-top{
    margin-top:5rem;
    background-color: rgb(179, 170, 170);
}

.list-class{
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 12px;
}
.a-class{
  /* margin-top: 10px; */
  padding: 10px 20px;
  border-radius: 12px;
  /* height: 20px; */
}
.a-class:hover{
  color: white !important;
  background-color: #882DFF;
}

/* html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  position: relative;
  overflow-x: hidden !important;
}

body {
  user-select: none;
  margin: 0;
  padding: 0;
  counter-reset: points;
  background-color: #77aa77;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2377aa77'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  font-family: "helvetica", sans-serif !important;
}

a {
  text-decoration: none;
  color: inherit;
} */

/* .section-1 {
  padding-top: 100px;
} */

/* main {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  color: #000000;
  background: #ffffff;
  border-radius: 10px;
  padding: 50px 40px 50px;
  width: 95%;
  max-width: 590px;
  margin: auto;
} */

.text-container {
  text-align: center;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: inline-block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 8px;
}

input[type="radio"] + label:hover {
  border: 1px solid #882DFF;
}

input[type="radio"]:checked + label {
  background-image: none;
  background-color: #0c0;
  color: #fff;
  border: 1px solid #0c0 !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.worngans {
  background-color: #f36;
  color: #fff;
  border: 1px solid #f36 !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.end {
  margin: auto;
}

.is-fullwidth {
  display: block;
  width: 50%;
  margin: auto;
  margin-top: 30px;
}
